{% extends "tracker/base.html" %} {% block title %}{{ titulo_pagina }}{%endblock %} {% block content %}
<h1>{{ titulo_pagina }}</h1>
<form method="post" novalidate>
  {% csrf_token %} {% for field in form %}
  <div class="form-group">
    {{ field.label_tag }} {% if field.name == 'quantidade_em_estoque' and object %}
    <!-- Mostra qtd inicial ao editar -->
    <p class="text-muted small">
      Quantidade produzida inicial: {{ object.quantidade_produzida_inicial }}
    </p>
    {% endif %} {{ field }} {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text }}</small>
    {% endif %} {% for error in field.errors %}
    <div class="invalid-feedback d-block">{{ error }}</div>
    {% endfor %}
  </div>
  {% endfor %} {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
    <p>{{ error }}</p>
    {% endfor %}
  </div>
  {% endif %}
  <button type="submit" class="btn btn-primary">{{ nome_botao }}</button>
  <a href="{% url 'tracker:home_vinicola' %}" class="btn btn-secondary"
    >Cancelar</a
  >
</form>
{% endblock %}
