# Arquivos de ambiente
.env
.venv/
venv/

# Dependências do Python
*.pyc
__pycache__/
db.sqlite3
/static/
/staticfiles/
*.log

# Dependências do Node.js (Frontend)
node_modules/
dist/
.vite/

# Arquivos de build do Vite
dist/

# Arquivos de IDE e sistema operacional
.idea/
.vscode/
*.DS_Store
