<!-- tracker/templates/tracker/admin_confirmar_exclusao_lote.html -->
{% extends "tracker/base.html" %} {% block title %}{{ titulo_pagina }}
{%endblock %} {% block content %}
<h1>{{ titulo_pagina }}</h1>
<p>
  Você tem certeza que deseja excluir o lote "{{ object.nome_lote }}"
  ({{object.variedade_uva }} - Colheita: {{object.data_colheita|date:"d/m/Y"}})?
</p>
<p><strong>Esta ação não pode ser desfeita.</strong></p>
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn btn-danger">Sim, Excluir</button>
  <a href="{% url 'tracker:home_vinicola' %}" class="btn btn-secondary"
    >Cancelar</a
  >
</form>
{% endblock %}
